@model NCloud.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Registration";
}

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body px-5 pt-3 pb-5 text-center">
                    <form asp-controller="Account" asp-action="Register" asp-route-returnUrl="@ViewBag.ReturnUrl">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <img src="~/utilities/cloud_logo.png" width="200" class="ms-2" />
                            <h2 class="fw-bold mb-2 text-uppercase">Registration</h2>
                            <p class="text-white-50 mb-5">Please enter the required information!</p>
                            <div class="form-outline form-white mb-4">
                                <label asp-for="FullName"></label>
                                <input asp-for="FullName" class="form-control form-control-lg" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <label asp-for="UserName"></label>
                                <input asp-for="UserName" class="form-control form-control-lg" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control form-control-lg" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <label asp-for="Password"></label>
                                <input type="password" asp-for="Password" class="form-control form-control-lg" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <label asp-for="PasswordRepeat"></label>
                                <input type="password" asp-for="PasswordRepeat" class="form-control form-control-lg" />
                                <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
                            </div>
                            <div class="form-outline form-white mb-4">
                                Captcha<dnt-captcha asp-captcha-generator-max="9999"
                                                    asp-captcha-generator-min="1"
                                                    asp-captcha-generator-language="English"
                                                    asp-captcha-generator-display-mode="NumberToWord"
                                                    asp-use-relative-urls="true"
                                                    asp-placeholder="Security code as a number"
                                                    asp-validation-error-message="Please enter the security code as a number."
                                                    asp-too-many-requests-error-message="Too many requests! Please wait a minute!"
                                                    asp-font-name="Tahoma"
                                                    asp-font-size="20"
                                                    asp-fore-color="#333333"
                                                    asp-back-color="#FCF6F5FF"
                                                    asp-text-box-class="form-control"
                                                    asp-text-box-template="<div class='input-group'><span class='input-group-text'></span>{0}</div>"
                                                    asp-validation-message-class="text-danger"
                                                    asp-refresh-button-class="bi-arrow-counterclockwise btn-lg"
                                                    asp-show-refresh-button="false"
                                                    asp-dir="ltr" />
                            </div>
                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div>
                            <p class="mb-0">
                                Already have an account? <a asp-controller="Account" asp-action="Login" class="text-white-50 fw-bold">Login</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
