
<div class="toast-container position-sticky start-100 bottom-0 p-3">
    <div class="toast bg-success" id="toast_success" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
        <div class="toast-header bg-success">
            <img src="/utilities/success.svg" class="rounded me-2">
            <strong class="me-auto text-dark" id="success_title"></strong>
            <small class="text-bold text-dark">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="success_body"></div>
    </div>

    <div class="toast bg-danger" id="toast_error" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
        <div class="toast-header bg-danger">
            <img src="/utilities/error.svg" class="rounded me-2">
            <strong class="me-auto text-dark" id="error_title"></strong>
            <small class="text-bold text-dark">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="error_body"></div>
    </div>
</div>
