@model MonitorViewModel

@{
    ViewData["title"] = "Database Metrics";
}

<div class="d-flex justify-content-between w-100 bg-primary rounded mb-3">
    <a asp-action="Index" asp-controller="Admin" class="btn btn-primary"><img src="~/utilities/arrow-left-circle.svg" width=" 20" height="20" class="rounded align-middle" /></a>
    <span class="btn"><img src="~/utilities/metrics.svg" width=" 20" height="20" class="rounded align-middle" /></span>
</div>