@using Microsoft.AspNetCore.Components
@namespace NCloud.Views.Shared.Components

<div>
    <h3>Test</h3>
    <button @onclick="GetData">Click Me!</button>
    <p>@Data</p>
</div>

@code {
    [Parameter]
    public int Data { get; set; } = 0;

    private void GetData()
    {
        Data++;
    }
}
