@model EditorViewModel

@{
    ViewData["Title"] = "Text Editor";
}

<div class="d-flex justify-content-end mb-2 background-color w-100 h-100 rounded">
    <div class="btn-group">
        <div class="btn">&nbsp;</div>
        <div class="btn btn-outline-white"><img src="/utilities/save.svg" /></div>
    </div>
</div>
<textarea id="texteditor">@Model.Content</textarea>

<script src="/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>

@Html.AntiForgeryToken()

@section Scripts {
    <script>
        tinymce.init({
            selector: '#texteditor',
            theme: "silver",
            resize: false,
            height: "640",
            themes: "modern",
            skin: "oxide-dark",
            content_css: "dark",
            branding: false,
            promotion: false
        });
    </script>
}