<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NCloud</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NCloud.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-primary border border-dark fixed navwidth">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark min-vh-100">
                    <a asp-controller="Drive" asp-action="Index" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto">
                        <span class="fs-5 d-none d-sm-inline align-middle justify-content-center"><img src="/utilities/cloud_logo_no_text.png" alt="cloudlogo" class="me-3 logo"></span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item my-2">
                            <a asp-controller="Drive" asp-action="Index" class="align-middle px-0 text-decoration-none text-dark">
                                <span class="d-inline m-1"><img src="~/utilities/speedometer.svg" width="20" height="20" class="rounded-circle" /></span> <span class="ms-1 d-none d-sm-inline">DashBoard</span>
                            </a>
                        </li>
                        <li class="nav-item my-2">
                            <a asp-controller="Drive" asp-action="Details" asp-route-id="0" class="align-middle px-0 text-decoration-none text-dark">
                                <span class="d-inline m-1"><img src="~/utilities/files.svg" width="20" height="20" class="rounded" /></span> <span class="ms-1 d-none d-sm-inline">My Files</span>
                            </a>
                        </li>
                        <li class="nav-item my-2">
                            <a asp-controller="Editor" asp-action="Index" class="align-middle px-0 text-decoration-none text-dark">
                                <span class="d-inline m-1"><img src="~/utilities/code-slash.svg" width="20" height="20" class="rounded-circle" /></span> <span class="ms-1 d-none d-sm-inline">Editor</span>
                            </a>
                        </li>
                        <li class="nav-item my-2">
                            <a href="#" class="align-middle px-0 text-decoration-none text-dark">
                                <span class="d-inline m-1"><img src="~/utilities/soundwave.svg" width="20" height="20" class="rounded-circle" /></span> <span class="ms-1 d-none d-sm-inline">Music Download</span>
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown mb-3 p-2 d-flex justify-content-center w-100 border border-3 rounded border-dark">
                        <div>
                            <a asp-action="Index" asp-controller="Account" class="text-dark text-decoration-none">
                                <img src="/utilities/person-circle.svg" alt="profile_icon" width="30" height="30" class="rounded-circle m-1">
                                <span class="d-inline m-1">User</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col py-3 maindiv">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
<base href="~/" />
<script src="_framework/blazor.server.js"></script>