@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";

    string email = NCloud.ConstantData.Constants.Configuration.GetSection("EmailCredentials:Email").Value ?? String.Empty;
}

<div class="row text-center">
    <div class="w-100 justify-content-center text-center mb-3">
        <img src="@(NCloud.ConstantData.Constants.Branding.LogoPath)" class="img-fluid" width="200" />
    </div>

    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <h3>Connection</h3>
    <p>If you want to connect the creator for development purposes or error declaration write an email to : <a href="mailto:@(email)?subject=#@(NCloud.ConstantData.Constants.EmailIssue)">@email</a></p>
</div>
