html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

summary {
    line-height: 40px;
}

details summary {
    list-style: none;
}

summary:before {
    content: url("../utilities/plus-icon.svg"); /*"➕"*/
    color: black;
    float: right;
    margin-right: 10px;
}

details[open] summary:before {
    content: url("../utilities/minus-icon.svg"); /*"➖"*/
}

#iconforitemtype {
    margin: 5px;
}

.itemlink {
    text-decoration: none;
    color: black;
}

    .itemlink:hover {
        text-decoration: underline;
        color: black;
    }

.fixed {
    position: fixed;
    left: 0px;
    top: 0px;
}

.fixed-notifications {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

.maindiv {
    width: 85%;
    top: 0px;
    right: 0px;
    position: absolute;
    overflow-y: scroll;
    height: 100vh;
}

.hiddenfield {
    display: none;
}

.hidden {
    display: none;
}

.notificationdiv {
    z-index: 10;
    position: fixed;
    right: 5px;
    bottom: 5px;
    height: 100%;
    width: 20%;
}

.terminal {
    background-color: darkblue;
    color: yellow;
    height: 400px;
}

.separator {
    border: 3px solid black;
}

.navwidth {
    width: 15%;
}

.logo {
    width: 100%;
}

#menu {
    margin-top: 40%;
}

.editor-class {
    height: 88vh;
    width: 100%;
}

/*Loader style*/
.loading-box {
    position: relative;
    width: 400px;
    height: 30px;
    border-radius: 50px;
    border: 2px solid #ededed;
    overflow: hidden;
}

.loader {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50px;
    background: linear-gradient(105.7deg, rgb(0, 238, 179) 23.2%, rgb(49, 100, 255) 100.5%);
    left: 0%;
}

.loader {
    left: -100%;
    animation: load 3s linear infinite;
}

@keyframes load {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.topmargin {
    margin-top: 25%;
}

.background-color {
    background: linear-gradient(105.7deg, rgb(0, 238, 179) 23.2%, rgb(49, 100, 255) 100.5%);
}

.loadertoplevel {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('images/loader.gif') no-repeat center center;
    z-index: 9999;
}
/*Loader animations end*/

/*Profile page*/
.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}



h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

    .user-card-full .social-link li a {
        font-size: 20px;
        margin: 0 10px 0 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }


/*Profile page ends*/

.textheight {
    height: 40px;
}

.verticalcenter {
    margin-top: 10%;
}

.backbuttondiv {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

/* Terminal */
.terminal {
    border-radius: 5px 5px 5px 5px;
    position: relative;
}

    .terminal .top {
        background: #E8E6E8;
        color: gray;
        padding: 5px;
        border-radius: 5px 5px 0 0;
    }

    .terminal .btns {
        position: absolute;
        top: 7px;
        left: 5px;
    }

    .terminal .circle {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 15px;
        margin-left: 2px;
        border-width: 1px;
        border-style: solid;
    }

.title {
    text-align: center;
}

.red {
    background: #EC6A5F;
    border-color: #D04E42;
}

.green {
    background: #64CC57;
    border-color: #4EA73B;
}

.yellow {
    background: #F5C04F;
    border-color: #D6A13D;
}

.clear {
    clear: both;
}

.terminal .body {
    background: black;
    color: #7AFB4C;
    padding: 10px;
    overflow: hidden;
    padding-bottom: 30px;
}

.space {
    margin: 25px;
}

.shadow {
    box-shadow: 0px 0px 10px rgba(0,0,0,.4)
}

.terminalstyle {
    max-height: 83vh;
    min-height: 83vh;
    background: black;
}

/*Terminal Style End*/
/*Circular progressbar Start*/
@property --progress-value {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0;
}

.progress-bar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .progress-bar::before {
        counter-reset: percentage var(--progress-value);
        content: counter(percentage) "%";
        color: black;
        font-weight: bold;
        font-size: 40px;
    }

.first {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(deepskyblue calc(var(--progress-value) * 1%), cornflowerblue 0);
    -webkit-animation: first-progress 2s 1 forwards;
    animation: first-progress 2s 1 forwards;
}

    .first::before {
        -webkit-animation: first-progress 2s 1 forwards;
        animation: first-progress 2s 1 forwards;
    }

.second {
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%, white 0), conic-gradient(deepskyblue calc(var(--progress-value) * 1%), cornflowerblue 0);
    -webkit-animation: second-progress 2s 1 forwards;
    animation: second-progress 2s 1 forwards;
}

    .second::before {
        -webkit-animation: second-progress 2s 1 forwards;
        animation: second-progress 2s 1 forwards;
    }

h2 {
    text-align: center;
}

progress {
    visibility: hidden;
    width: 0;
    height: 0;
}
/*Circular progressbar End*/

.user-button:hover {
    background-color: #0d6efd;
}

.fileicon{
    margin-left:5px;
    margin-right:5px;
}
